*
!cmd
!cmd/**
!pkg
!pkg/**
!proto
!proto/**
!go.mod
!go.sum
!sdk
!sdk/**
!deploy/github-builder
!deploy/github-builder/**
!docker/patches
!docker/patches/**
!bin/volume_cache_*
!bin/ipbind_*
!bin/beta9-cli
!bin/snapshot
**/__pycache__
*.pyc
.venv
venv
