bin/gateway
bin/runner
bin/worker
tmp/*
*.gob
__pycache__
*.tmp
.secrets
.k3d
.venv
venv
.python-version
.DS_Store
.terraform*
terraform.tfstate*
terraform.tfvars
sdk/src/build
sdk/src/beta9.egg-info
event.json
config.yaml
*.tgz
test
**/nvidia-device-plugin.yaml.skip
manifests/**/charts/**
build.sh
oci*
.coverage
.htmlcov
okteto.yaml
.vscode/launch.json
pyrightconfig.json
.go-version