fastapi==0.109.0
gunicorn==20.1.0
uvicorn==0.29.0
requests==2.32.2
packaging==21.3
MarkupSafe==2.0.0
websockets==11.0.3
pydantic==2.5.3
betterproto-beta9==2.0.0b7
grpcio==1.60.0
httpx==0.24.1
bson==0.5.10
psutil==5.9.6
cloudpickle==3.0.0
rich==13.7.0
watchdog==4.0.0
six==1.16.0
