---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: &name postgresql
releaseName: *name
name: postgresql
repo: https://charts.bitnami.com/bitnami
version: 13.4.3
namespace: beta9
includeCRDs: true
skipTests: true
valuesInline:
  nameOverride: *name
  fullnameOverride: *name
  postgresqlSharedPreloadLibraries: pg_cron
  global:
    postgresql:
      auth:
        postgresPassword: password
        username: root
        password: password
        database: main
  image:
    registry: public.ecr.aws
    repository: docker/library/postgres
    tag: 16.1
    pullPolicy: IfNotPresent
  primary:
    extendedConfiguration: |
      max_connections=400
      shared_buffers='400MB'
      cron.database_name='main'
      cron.use_background_workers=on
      max_worker_processes=20
    initdb:
      scripts:
        create_extension.sh: |
          #!/bin/sh
          export PGPASSWORD=$POSTGRESQL_PASSWORD
          cat /opt/bitnami/postgresql/conf/postgresql.conf | grep shared_preload_libraries

          # Set up pg_cron in main database
          psql -Upostgres -d main --echo-all <<EOF
          SHOW shared_preload_libraries;
          CREATE EXTENSION IF NOT EXISTS pg_cron;
          EOF

          # Grant usage on the cron schema to both root and postgres users
          psql -Upostgres -d main --echo-all <<EOF
          GRANT USAGE ON SCHEMA cron TO postgres;
          GRANT USAGE ON SCHEMA cron TO root;
          EOF
  volumePermissions:
    enabled: true
  persistence:
    enabled: true
    size: 1Gi
