debugMode: false
database:
  postgres:
    host: postgres-postgresql.beta9
    port: 5432
    username: root
    password: password
    name: main
    timezone: UTC
  redis:
    mode: single
    addrs:
    - redis-master.beta9:6379
    password:
    enableTLS: false
    dialTimeout: 3s
storage:
  mode: juicefs
  fsName: beta9-fs
  fsPath: /data
  objectPath: /data/objects
  juicefs:
    redisURI: redis://juicefs-redis-master.beta9:6379/0
    awsS3Bucket: http://localstack.beta9:4566/juicefs
    awsAccessKeyID: test
    awsSecretAccessKey: test
gateway:
  host: gateway.beta9
  httpPort: 1994
  grpcPort: 1993
  max_recv_msg_size_in_mb: 1024
  max_send_msg_size_in_mb: 1024
imageService:
  cacheURL:
  registryStore: local
  registryCredentialProvider: docker
  registries:
    docker:
      username: beamcloud
      password:
    s3:
      bucket: beta9-images
      region: us-east-1
      accessKeyID: test
      secretAccessKey: test
  runner:
    baseImageTag: latest
    baseImageName: beta9-runner
    baseImageRegistry: registry.localhost:5000
    tags:
      python3.8: py38-latest
      python3.9: py39-latest
      python3.10: py310-latest
      python3.11: py311-latest
      python3.12: py312-latest
worker:
  pools:
    default:
      mode: local
      jobSpec:
        nodeSelector: {}
      poolSizing:
        defaultWorkerCpu: 1000m
        defaultWorkerGpuType: ""
        defaultWorkerMemory: 1Gi
        minFreeCpu: 1000m
        minFreeGpu: 0
        minFreeMemory: 1Gi
    t4-ec2:
      mode: metal
      provider: ec2
      gpuType: T4
      jobSpec:
        nodeSelector: {}
      poolSizing:
        defaultWorkerCpu: 1000m
        defaultWorkerGpuType: ""
        defaultWorkerMemory: 1Gi
        minFreeCpu:
        minFreeGpu:
        minFreeMemory:
    # example gpu worker pool
    # nvidia:
    #   gpuType: A40
    #   runtime: nvidia
    #   jobSpec:
    #     nodeSelector: {}
    #   poolSizing:
    #     defaultWorkerCpu: 1000m
    #     defaultWorkerGpuType: ""
    #     defaultWorkerMemory: 1Gi
    #     minFreeCpu:
    #     minFreeGpu:
    #     minFreeMemory:
  # global pool attributes
  hostNetwork: false
  imageTag: latest
  imageName: beta9-worker
  imageRegistry: registry.localhost:5000
  imagePullSecrets: []
  namespace: beta9
  serviceAccountName: default
  # non-standard k8s job spec
  resourcesEnforced: false
  defaultWorkerCPURequest: 2000
  defaultWorkerMemoryRequest: 1024
providers:
  ec2:
    accessKey: test1
    secretkey: test2
    region: us-east-1
    ami: ami-052c704a7f82c38b1
metrics:
  prometheus:
    scrapeWorkers: true
    port: 9090
tailscale:
  controlUrl: https://beam-headscale-test.fly.dev
  authKey: 6764f571bc2ffd88fc0586819dc76c1ff708467fd95956e2