---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
components:
- ../../components/nvidia-device-plugin
- ../../components/monitoring
- ../../components/redis
- ../../components/postgresql
- ../../components/juicefs
- ../../components/localstack
- ../../components/beta9-gateway
patches:
# Remove resources from monitoring components
- target:
    kind: StatefulSet
    name: elasticsearch-master
  patch: |-
    - op: remove
      path: /spec/template/spec/initContainers/0/resources
    - op: remove
      path: /spec/template/spec/initContainers/1/resources
    - op: remove
      path: /spec/template/spec/containers/0/resources
- target:
    kind: Deployment
    name: elasticsearch-kibana
  patch: |-
    - op: remove
      path: /spec/template/spec/initContainers/0/resources
    - op: remove
      path: /spec/template/spec/containers/0/resources
# Disable unused monitoring components
- target:
    kind: Deployment
    name: victoria-metrics-agent
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
- target:
    kind: StatefulSet
    name: victoria-metrics-single
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
- target:
    kind: StatefulSet
    name: victoria-logs-single
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
# Replace RollingUpdate with Recreate for all Deployments in this overlay
- target:
    kind: Deployment
  patch: |
    - op: add
      path: /spec/strategy
      value:
        type: Recreate
